:root {

    --product-headdig-color: #fff;
    --product-primary-color: #2662FA;
    --product-pragraph-color: #F5F5F5;
    --product-gray-color: #1E273B;
    --product-bg-color: #121B30;
    --product-bg-main-color: #091530;


    // developer color 
    --developer-primary-color: #DAED1A;

    // teacher color 
    --teacher-primary-color: #FFB711;

    // law color 
    --law-primary-color: #FF3F00;

    // Phtography color 
    --phtography-primary-color: #47D990;
}